/*-- scss:defaults --*/
$h2-font-size:          1.6rem !default;
$body-font-size:        0.9rem !default;
$headings-font-weight:  500 !default;
$body-color:            #616161 !default;
$link-color:            #97D0D7 !default;
$footer-fg:             #23A7CE !default;

/*-- scss:rules --*/

.layout-example {
  background: $gray-500;
  color: $white;
  text-align: center;
  margin-bottom: 1em;
  font-family: $font-family-monospace;
  font-size: .875em;
  font-weight: 600;
  padding-top: 1em;
  border-radius: 3px;
}

.left {
  text-align: left;
  padding-left: 1em;
}

.right {
  text-align: right;
  padding-right: 1em;
}

/* h1, h2, h3, h4, h5, h6 {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);
} removed for now */